{% load static %}

<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>available classes</title>
	<link rel="stylesheet" href="{% static 'css/user_class_base.css' %}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="https://code.jquery.com/jquery-3.5.1.min.js"
		integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
</head>

<body>
	<div class="user_class_availableclass">
		<a href="">
			<i class="fa fa-angle-left"></i>
		</a>

		<div class="container-class">

			<div class="class-box">
				<div class="class-box-name">
					<h2>
						class A
					</h2>
				</div>

				<div class="class-box-info">
					<ul>
						<li>subject: physics</li>
						<li>students: 90</li>
					</ul>
				</div>

				<div class="options">
					<a href="javascript:void(0)" class="members">
						<abbr class="abbr" title="members">
							<i class="material-icons">supervisor_account</i>
						</abbr>
					</a>
					<a href="javascript:void(0)" class="edit">
						<abbr title="edit">
							<i class="material-icons">mode_edit</i>
						</abbr>

					</a>
					<a href="javascript:void(0)" class="delete">
						<abbr title="delete">
							<i class="material-icons">delete</i>
						</abbr>
					</a>

					<div class="more" onclick="dropdown('more_x')">
					<!-- more_x ko dynamically pass kra denge -->

						<abbr title="more">
							<i class="material-icons">more_vert</i>
						</abbr>

						<div class="container-dropdown" id="more_x">
							<!-- more_x id isliye disya gya h taki iss id ke name se 
							iss content/box ko diaplay kr sake -->
							<a href="">add member</a>
							<a href="">remove member</a>
							<a href="">drop3</a>
						</div>
					</div>
				</div>
			</div>
			<!-- </a> -->
			<!-- <a href=""> -->
			<div class="class-box">
				<div class="class-box-name">
					<h2>
						class A
					</h2>
				</div>

				<div class="class-box-info">
					<ul>
						<li>subject: physics</li>
						<li>students: 90</li>
					</ul>
				</div>

				<div class="options">
					<a href="" class="members">
						<abbr class="abbr" title="members">
							<i class="material-icons">supervisor_account</i>
						</abbr>
					</a>
					<a href="#" class="edit">
						<abbr title="edit">
							<i class="material-icons">mode_edit</i>
						</abbr>

					</a>
					<a href="#" class="delete">
						<abbr title="delete">
							<i class="material-icons">delete</i>
						</abbr>
					</a>
					<div class="more" onclick="dropdown('more_y')">
						<abbr title="more">
							<i class="material-icons">more_vert</i>
						</abbr>

						<div class="container-dropdown" id="more_y">
							<a href="">add member</a>
							<a href="">remove member</a>
							<a href="">drop3</a>
						</div>
					</div>
				</div>
			</div>
			<!-- </a> -->

			<!-- <a href=""> -->
			<div class="class-box">
				<div class="class-box-name">
					<h2>
						class A
					</h2>
				</div>

				<div class="class-box-info">
					<ul>
						<li>subject: physics</li>
						<li>students: 90</li>
					</ul>
				</div>

				<div class="options">
					<a href="" class="members">
						<abbr class="abbr" title="members">
							<i class="material-icons">supervisor_account</i>
						</abbr>
					</a>
					<a href="#" class="edit">
						<abbr title="edit">
							<i class="material-icons">mode_edit</i>
						</abbr>

					</a>
					<a href="#" class="delete">
						<abbr title="delete">
							<i class="material-icons">delete</i>
						</abbr>
					</a>
					<div class="more more2" onclick="dropdown('more_z')">
						<abbr title="more">
							<i class="material-icons">more_vert</i>
						</abbr>

						<div class="container-dropdown" id="more_z">
							<a href="">add member</a>
							<a href="">remove member</a>
							<a href="">drop3</a>
						</div>
					</div>
				</div>
			</div>
			<!-- </a> -->



			<div class="modal-box-delete" id="modal-box-delete">
				<p>do you really want to delete this class A</p>

				<div class="modal-option">
					<button class="btn-modal-yes" type="">yes</button>
					<button class="btn-modal-no" type="">no</button>
				</div>
			</div>

			<div class="modal-box-edit">
				<h4>edit class A</h4>
				<form action="#">
					<input type="text" name="" id="" placeholder="new class name">
					<input type="text" name="" id="" placeholder="new subject name">
					<label for="">
						<input type="checkbox" name="" id="" placeholder="new class name">
						private
					</label>
					<button class="btn-modal-edit">edit</button>
				</form>
			</div>

		</div>
	</div>




	<script>

		$(document).ready(function () {
			

			$('.class-box-name, .class-box-info').click(function () {
				$.ajax({
					url:'/classes/user_class_classdetails',
	
					success:function(result){
						console.log('success');
						$('.working-area').html(result);
					}
				});
			});

			$('.delete').click(function () {
				$('.modal-box-delete').css({
					"display": "flex"
				});

				$('.class-box').css({
					"opacity": "0.3"
				});
			});

			$('.btn-modal-yes, .btn-modal-no').click(function () {
				$('.modal-box-delete').css({
					"display": "none"
				});

				$('.class-box').css({
					"opacity": "1"
				});
			});


			//--------------

			$('.edit').click(function () {
				$('.modal-box-edit').css({
					"display": "flex"
				});

				$('.class-box').css({
					"opacity": "0.3"
				});
			});

			$('.btn-modal-edit').click(function () {
				$('.modal-box-edit').css({
					"display": "none"
				});

				$('.class-box').css({
					"opacity": "1"
				});
			});

		});


		var drop = true;
		function dropdown(classname){

			let a = document.getElementById(classname);

			if (drop) {
				a.style.display = 'flex'; 

			} else {
				a.style.display = 'none'; 

			}

			drop = !drop;
			console.log('dropdown fn executed');

		}


	</script>




</body>

</html>